<form class="example-form">
  <mat-form-field class="example-full-width">
    <input type="text" matInput placeholder="State" aria-label="State"
           [formControl]="stockInput" [matAutocomplete]="auto" >
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let stock of filteredStocks | async" [value]="stock.getSymbol()">
        {{stock.getSymbol()}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>

<div class="form-group">
  <label *ngIf="selected != null">Company: {{selected.getCompany()}}</label>
</div>
